@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;900&display=swap');

:root {
  font-family: 'Outfit', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #fff;
  background-color: #020617;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}

canvas {
  touch-action: none;
}